input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@keyframes slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

.toast-message {
    animation: slideInUp 0.5s ease-out forwards;
}

.toast-message.closing {
    animation: fadeOut 0.5s ease-in forwards;
}